body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: mediumorchid;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #ffffff;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    resize: vertical;
}

.button-container {
    text-align: center;
}

/* Estilo do botão verde */
.green-button {
    background-color: #28a745; /* Cor verde */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none; /* Remove sublinhado do link */
    display: inline-block;
}

/* Efeito ao passar o mouse */
.green-button:hover {
    background-color: #218838; /* Cor verde escuro ao passar o mouse */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
